# ===========================
# Terraform
# ===========================

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json


# ===========================
# SSH Keys
# ===========================

*.pem
*.key

# ===========================
# Kubernetes
# ===========================

kubeconfig
kubeconfig.*
*.kubeconfig

# ===========================
# macOS
# ===========================

.DS_Store

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# JetBrains
# ===========================

.idea/

# ===========================
# Logs
# ===========================

*.log